<%- include('templates/cabecera', {tituloweb: 'Inicio EJS'}); %>

<div class="container">
    <hr>
</div>



<div class="container">


    <br><br>

    <div class="row justify-content-center text-center">
        <h2>¡La tarjeta es de <b><%= dog %> </b>!</h2>
        <p>
            Presiona sobre las opciones para ver una foto aleatoria de  <%= dog %>  
        </p>

        <div class="row justify-content-center text-center">


            <div class="card text-dark bg-light mt-2 mb-3 me-2" style="max-width: 18rem;">
                <div class="card-header"><center>RAZAS ENCONTRADAS</center></div>
                <div class="card-body">
                    <h5 class="card-title"><center><%= myArrayLength  %> </center></h5>
                </div>
            </div>


            <div class="card text-white bg-secondary mt-2 mb-3 ms-2" style="max-width: 18rem;">
                <div class="card-header"><center>SUBRAZAS ENCONTRADAS</center></div>
                <div class="card-body">
                    <h5 class="card-title"><center><%= myArraySubLenght  %> </center></h5>
                </div>
            </div>


        </div>


    </div>

    <br><br>



    <div class="row">


        <% if(response == ""){ %>
            
            <div class="card">
                <a class="btn" href="../photo/<%= dog  %> ">
                    <div class="card-body">
                        <h3 class="card-title"><i class="icon ion-md-paw"></i><center><%= dog %></center></h3>
                    </div>
                </a>
            </div>

        <% } else { %>



            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <center><i class="icon ion-md-paw"></i></center>
                        <center><%= dog %></center>
                    </h3>

                    <center>
                        <% for(var i=0; i<response.length; i++) { %>
                            <a class="btn btn-outline-success" type="submit" href="photo/<%= response[i] %>"> <%= response[i] %></a>
                        <% } %>  
                    </center>

                </div>
            </div>

        <% } %>


    </div>



</div>



<div class="container">
    <hr>
</div>
<%- include('templates/footer', {tituloweb: 'Inicio EJS'}); %>