<%- include('templates/cabecera', {tituloweb: 'Inicio EJS'}); %>

<div class="container">
    <hr>
</div>





<div class="container">


    <br><br>

    <div class="row justify-content-center text-center">
        <h2>¡Todas las <b>subrazas</b> de la BD!</h2>

        <p>Aqui solo se encontrará con los nombres, si desea 
            ver alguna imagen, presione sobre el boton.
        </p>


        <div class="row justify-content-center text-center">


            <div class="card text-dark bg-light mt-2 mb-3 me-2" style="max-width: 18rem;">
                <div class="card-header"><center>RAZAS ENCONTRADAS</center></div>
                <div class="card-body">
                    <h5 class="card-title"><center><%= myArrayLength  %> </center></h5>
                </div>
            </div>


            <div class="card text-white bg-secondary mt-2 mb-3 ms-2" style="max-width: 18rem;">
                <div class="card-header"><center>SUBRAZAS ENCONTRADAS</center></div>
                <div class="card-body">
                    <h5 class="card-title"><center><%= myArraySubLenght  %> </center></h5>
                </div>
            </div>


        </div>

    </div>


    <!-- row de la tupla filtrar -->
    <div class="row-12">

        <form class="d-flex d-me-block">

            <select onclick="" id="selectForm" class="form-select me-1" aria-label="Default select example">
                <option selected><center>Escoge una raza...</center></option>
                <% for(var i=0; i<response.length; i++) {%>
                    <option value="<%= response[i][0] %>"><%= response[i][0] %> </option>
                <% } %>
            </select>
            <a id="linkDog" class="btn btn-outline-success" type="submit" onclick="changeLink()">filtrar</a>
        </form>

    </div>



    <br><br>

    <div class="row">

        <!-- depliega tarjetas -->
        <% for(var i=0; i<response.length; i++) {%>
            <div class="col-6 mb-2">
                <div class="card" >
                    <div class="card-body">

                    <!-- titulo -->
                    <h3 class="card-title">
                        <center><i class="icon ion-md-paw"></i></center>
                        <center><%= response[i][0] %></center>
                    </h3>

                        
                    <!-- despliega botones de subrazas -->
                    <!-- si está vacio, pondrá un boton con el nombre del titulo -->
                    <!-- pero si contienen otra lista, la recorrerá en el segundo for -->
                        <center>
                            <% if( response[i][1] == ""){ %>
                                <a class="btn btn-outline-success" type="submit" href="photo/<%= response[i][0] %>"><%= response[i][0] %></a>
                            <% } else { %>


                                <% for(var k=0; k<response[i][1].length; k++) { %>
                                    <a class="btn btn-outline-success" type="submit" href="photo/<%= response[i][0] %>"> <%= response[i][1][k] %></a>
                                <% } %>  


                            <% } %>
                        </center>

                    </div>
                </div>
            </div>
        <% } %>
    </div>


    </div>



<div class="container">
    <hr>
</div>



<%- include('templates/footer', {tituloweb: 'Inicio EJS'}); %>